.foodBook-icon-container {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    .foodBook-icon {
      width: 34px;
      height: 34px;
    }
  
    .item-count {
      position: absolute;
      font-size: 11px;
      font-weight: bold;
      bottom: 12px;
    }
  }

  @media (max-width: 700px) {
    .foodBook-icon-container {
      margin-top: 12px;
      width: 48px;
      height: 48px;

    .foodBook-icon {
      width: 43px;
      height: 43px;
    }
     .item-count {
  
    font-size: 15px;
    font-weight: bold;
    bottom: 9.5px;
  }
  }
 
  }